/* Common styles */
body {
    font-family: Roboto, sans-serif;
}
/* Reset */
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    font-family: inherit;
    cursor: pointer;
}
.list {
  list-style: none;
} 


/**
  |============================
  | Header styles
  |============================
*/


.header 

.header-nav 

.header-logo {
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}

.header-logo-color {
    font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
         align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
}

.header-list

.header-item

.header-link {
    
        font-size: 16px;
        line-height: 1.5;
        color: #2E2F42;
}

.address 

.address-list

.address-item

.address-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
}

/**
  |============================
  | Portfolio styles
  |============================
*/

.section-portfolio
.portfolio-list
.button-link
.button-text {
             font-size: 16px;
            line-height: 1.5;
            text-align: center;
            letter-spacing: 0.04em;
            color: #4D5AE5;
            background: #F4F4FD;
        
            border: 1px solid #000000;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-text:hover,
.button-text:focus {
            color: #FFFFFF;
            background: #404BBF;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;

}

/**
  |============================
  | Project card 1 styles
  |============================
*/
.section-card-one
.card-one-list
.card-one-item
.link-img
.card-one-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2px;
        color: #2E2F42;
}

/**
  |============================
  | Project card 2 styles
  |============================
*/
.section-card-two
.card-two-list
.card-two-item
.link-img
.card-two-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2px;
        color: #2E2F42;
}

/**
  |============================
  | Project card 3 styles
  |============================
*/
.section-card-three
.card-three-list
.card-three-item
.link-img
.card-three-title { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
    color: #2E2F42;}


/**
  |============================
  | Hero styles
  |============================
*/

.hero-section { background: #2E2F42;}

.hero-title { 
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        
    
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.hero-btn {
    /* IRIS */
    
        background: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

/**
  |============================
  | Features styles
  |============================
*/

.features-section

.features-list

.features-item

.features-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    
        color: #2E2F42;
}

/**
  |============================
  | Activity styles
  |============================
*/

.activity-section

.activity-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        
    
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
         color: #2E2F42;
}

.activity-list

.activity-item

.activity-img

/**
  |============================
  | Team styles
  |============================
*/

.team-section

.team-title { 
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    
    
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}

.team-list

.team-item

.team-img

/**
  |============================
  | Footer styles
  |============================
*/
.footer { background: #2E2F42;}
.footer-logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
.footer-logo-color {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
    
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
         color: #F4F4FD;
}

.footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    

    letter-spacing: 0.02em;

    color: #F4F4FD; }