:root {
  /* Font */
--primary-font: Roboto, sans-serif;
--secondary-font: Raleway, sans-serif;

/* Colors */
--logo-color: #4d5ae5;
--logo-color-dark: #2e2f42;
--white: #FFFFFF;
--cloud: #f4f4fd;
--ocean: #13719c;

}


/* Common styles */
body {
    font-family: var(--primary-font);
    background-color: var(--white);
    color: #434455;
    list-style-type: none;

}
/* Reset */
ul,
ol {
    list-style: none;
}

.link { text-decoration: none;}

.list { list-style: none; }
a {
    text-decoration: none;
    color: currentColor;
}

button {
    font-family: inherit;
    cursor: pointer;
}




/**
  |============================
  | Header styles
  |============================
*/


.header 

.header-nav {
  list-style: none;
}

.logo {
        font-family: "Raleway",
          sans-serif;
        
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: var (--logo-color);
          }


.studio-up {
        color: var(--logo-color-dark);
}

.header-list .link {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--logo-color-dark);
  }

.header-list .link:hover { color: #404bbf;}
.header-list .link:focus { color: #404bbf;}

.header-item


.address { font-style: normal;}

.address-list

.address-item 

.address-link { 
    font-family: var(--primary-font);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
.address-link:hover { color: #404bbf;}
.address-link:focus { color: #404bbf;}
.list

/**
  |============================
  | Portfolio styles
  |============================
*/

.section-portfolio
.portfolio-list
.button-link
  
.btn-text  {
  font-family: var(--primary-font);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   
   letter-spacing: 0.04em;
   color: var(--logo-color);
   background: var(--cloud);
   cursor: pointer;
   border: 1px solid #000000;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

.btn-text:hover { color: var(--white);
  background: #404BBF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;}

.btn-text:focus {
            color: var(--cloud);
            background: #404BBF;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;

}

/**
  |============================
  | Project card 1 styles
  |============================
*/
.section-card-one
.card-one-list
.card-one-item
.list
.card-one-link
.card-one-title { 
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2px;
        letter-spacing: 0.02em;
        color: var(--logo-color-dark);
}
.text-one { 
          font-family: var(--primary-font);
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: #434455;
}

/**
  |============================
  | Project card 2 styles
  |============================
*/
.section-card-two
.card-two-list .list {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    color: var(--logo-color-dark);
  }
.card-two-item
.list
.card-two-link
.card-two-title 
.text-two {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/**
  |============================
  | Project card 3 styles
  |============================
*/
.section-card-three
.card-three-list
.card-three-item
.list
.card-three-link
.card-three-title { 
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2px;
        letter-spacing: 0.02em;
        color: var(--logo-color-dark);
}
.text-three {
          font-family: var(--primary-font);
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.02em;
         color: #434455;
}


/**
  |============================
  | Hero styles
  |============================
*/

.hero-section { background-color: var(--logo-color-dark)}

.hero-title { 
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--white);
}

.hero-btn {
        font-family: var(--primary-font);
        background: #4D5AE5;
      }

/**
  |============================
  | Features styles
  |============================
*/

.features-section

.features-list

.features-item

.features-title {
      font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    
        color: var(--logo-color-dark);
}
.feat-text {
  font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/**
  |============================
  | Activity styles
  |============================
*/

.activity-section

.activity-title {
    font-family: var(--primary-font);
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--logo-color-dark);
}

.activity-list

.activity-item

.activity-img

/**
  |============================
  | Team styles
  |============================
*/

.team-section

.team-title { 
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--logo-color-dark);
}

.team-list

.team-item

.list

/**
  |============================
  | Footer styles
  |============================
*/

.footer 

.footer-logo
{
        font-family: 'Raleway',sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--logo-color);
}
.logo-down {
    
         color: var(--cloud);
}

.footer-text { 
  font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud); 
  background-color: var(--logo-color-dark);}